h2,
h3 {
    margin: 0;
}

.home {
    body,
    html,
    p,
    a,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    li {
        font-family: 'Raleway', sans-serif !important;
    }
    span {
        display: block;
    }

    .bem-vindo {
        padding: 55px 20px;
        background-color: #f7c514;
        background-image: url('../img/data-analytics-too-much-data.png');
        background-size: cover;
        .titulo {
            width: 433px;
            text-transform: uppercase;
            h2 {
                font-size: 6em;
                line-height: 0.9em;
                font-weight: 700;
            }
            h3 {
                font-size: 3em;
            }
        }
        .complemento {
            font-size: 1.4em;
            line-height: 1.2em;
            font-weight: 200;
            color: #2f2f2f;
            display: block;
            width: 50%;
            margin-top: 30px;
        }
    }
    .passo {
        padding: 85px 20px;
        .titulo {
            h2 {
                font-size: 60px;
                text-transform: uppercase;
                text-align: center;
                font-weight: 700;
                color: #dd8a06;
            }
        }
        .complemento {
            width: 70%;
            display: block;
            margin: 10px auto;
            text-align: center;
            font-size: 23px;
            font-weight: 200;
        }
    }
    .passos {
        padding: 0px 20px 85px;
        .circle-img {
            width: 160px;
            height: 160px;
            border-radius: 160px;
            background-color: #eaeaea;
            margin: 0 auto;
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
            box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
            &.passo1{
                background-image: url('../img/passo1.jpg');
            }
            &.passo2{
                background-image: url('../img/passo2.jpg');
            }
            &.passo3{
                background-image: url('../img/passo3.jpg');
            }
            &.passo4{
                background-image: url('../img/passo4.jpg');
            }
        }
        h4 {
            font-size: 2vw;
            text-transform: uppercase;
            color: #2f2f2f;
            font-weight: 900;
            text-align: center;
        }
        .complemento {
            font-size: 17px;
            font-weight: 200;
            color: #6f6f6f;
            text-align: center;
        }
    }
    .acessar {
        padding: 80px 20px;
        background-color: #2f2f2f;
        .titulo {
            h2 {
                color: #fff;
                font-size: 65px;
                text-transform: uppercase;
                width: 540px;
                float: left;
                font-weight: 700;
            }
        }
        .analise {
            width: 424px;
            position: relative;
            top: -65px;
            a {
                width: 100%;
                position: relative;
                background-color: #f7c514;
                i {
                    position: absolute;
                    right: 10px;
                    bottom: 13px;
                    font-size: 59px;
                    color: #2f2f2f;
                }
                .texto {
                    color: #2f2f2f;
                    float: left;
                    span {
                        font-size: 22px;
                        font-weight: 200;
                        margin-bottom: -10px;
                    }
                    h4 {
                        font-size: 67px;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
                span {
                    font-size: 50px;
                }
            }
        }
        .complemento {
            font-size: 16px;
            font-weight: 200;
            color: #fff;
            width: 45%;
            margin: 10px auto;
            text-align: left;
            float: left;
            clear: both
        }
    }
    .navegante {
        position: fixed;
        z-index: 999998;
        right: 10px;
        top: 40%;
        width: 15px;
        min-height: 90px;
        .ponto {
            a {
                width: 12px;
                height: 12px;
                background: rgba(0, 0, 0, 0.2);
                margin-bottom: 4px;
                border-radius: 10px;
                display: block;
                &.active {
                    background: rgba(0, 0, 0, 0.7)!important;
                }
            }
        }
    }
}